@rendermode InteractiveServer

@page "/"

<PageTitle>LoL App - Accueil</PageTitle>

<div class="text-center">
    <h1>Bienvenue sur LoL App</h1>
    <p class="lead">Votre compagnon pour suivre les statistiques de League of Legends.</p>
    
    <div class="mt-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/League_of_Legends_2019_vector.svg/1200px-League_of_Legends_2019_vector.svg.png" 
             alt="LoL Logo" width="300" class="img-fluid"/>
    </div>
</div>