@page "/public"

<h3>Page publique</h3>

<p>
    Cette page est visible par tout le monde, connecté ou non.
</p>

<p>
    Tu peux te connecter avec le bouton en haut à droite pour accéder aux pages protégées.
</p>