<AuthorizeView>
    <Authorized>
        <p>Vous êtes connecté mais vous n'êtes pas autorisé à accéder à cette ressource.</p>
        <a href="/">Revenir à l'accueil</a>
    </Authorized>

    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>