@using LoLProject.WebApp.Components
@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <NotAuthorizedView />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>

    <NotFound>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <div class="text-center mt-5 text-light">
                <h3>404 - Page introuvable</h3>
                <p>Désolé, il n'y a rien à cette adresse dans la faille.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>